.App {
  text-align: center;
  width: 800px;
  margin: auto;
}

.App-text {
  text-align: right;
}

.App-icon {
  width: 2rem;
  margin-right: 1rem;
}

code {
  display: block;
  white-space: pre-wrap;
}

/* To hide react bootstrap dropdown arrow */
.dropdown-toggle::after {
  display: none !important;
}
